<!DOCTYPE html>
</body>
</html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
<h1><%= @user.name %>様、bookersへようこそ。</h1>
<p>
	bookersへのサインアップが成功しました。
	your user name is:<%= @user.name %>.<br>
</p>
<p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
</body>
</html>