<div class="row">
  <%= render 'books/side', new_book: @new_book,user: @user_profire %>
		<div class="col-xs-9">
		<h2>Books</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Option</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			  <%= render 'books/index', new_book: @new_book,user: @user_profire %>
		</table>
	</div>
</div>