<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>about</title>
	<link rel="stylesheet" href="">
</head>


<body>
	<section>
	<h1>Welcome to
		<span class="glyphicon glyphicon-book"></span>
		<strong>Bookers!</strong>
	</h1>
	</section>
</body>
</html>